@import 'global.css';

html.casper .heading-underline {
  width: 87px;
  border: 2px solid var(--lightgrey);
  margin: 0;
}

/************************ Home Subscribe Form *************************/

html.casper .home-subscribe-container {
  display: flex;
}

html.casper .home-author-container {
  flex: 1;
  width: 100%;
  margin: 1.5em 0;
}

html.casper .home-author-pic {
  border-radius: 50%;
}

html.casper .home-subscribe-form {
  flex: 2;
  margin: auto 1.5em !important;
  text-align: start !important;
  border-radius: 3px;
  border: none !important;
  padding: 1.5em 0 !important;
  background: none !important;
}

html.casper .home-subscribe-form form {
  margin: 0 !important;
}

@media (max-width: 701px) {
  html.casper .home-subscribe-form {
    margin: auto 0 !important;
  }

  html.casper .home-subscribe-container {
    flex-direction: column-reverse;
  }
  html.casper .home-author-container {
    width: 50vw;
    margin: 1.5em auto;
  }
}

/************************ Home Topic Cards *************************/

html.casper .home-topic-cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

html.casper .home-topic-card {
  margin-top: 2rem;
  display: block;
  padding: 2rem 1rem;
  border-radius: 10px;
  color: black;
  width: 30%;
  border: 0 solid rgba(0, 0, 0, 0.125);
  background-clip: border-box;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
  transition: color 0.3s, transform 0.3s !important;
}

html.casper .home-topic-card:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

html.casper .home-topic-card h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 701px) {
  html.casper .home-topic-cards {
    display: block;
    margin: 0;
  }
  html.casper .home-topic-card {
    width: 100%;
  }
}

/************************ Post List *************************/

html.casper .post-section {
  display: flex;
  justify-content: center;
}

html.casper .post-list {
  position: relative;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  margin: 0 24px 50px;
  padding: 25px;
  border-radius: 3px;
}

html.casper .post-list a {
  transition: all 0.2s ease-in-out;
}

html.casper .post-list a:hover {
  text-decoration: none;
}

@media (max-width: 1170px) {
  html.casper .post-list {
    margin: 0 0 50px;
  }
}

@media (max-width: 701px) {
  html.casper .post-section {
    display: block;
  }

  html.casper .post-list {
    margin: 0;
    padding: 25px 0;
  }

  html.casper .post-list:first-of-type {
    margin: 1.5em 0 0 0;
  }
}

html.casper .post-list-header h3 {
  margin: 0;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0.5em 0 0.4em;
  font-size: 2.2rem;
  line-height: 1.25em;
  font-weight: 600;
}

html.casper .post-list-header h3 a {
  font-weight: 500;
  text-decoration: none;
  opacity: 0.8;
}

html.casper .post-list-header h3 a:hover {
  opacity: 1;
}

html.casper .post-list-content {
  font-size: 1.7rem;
}

html.casper .post-list-content ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

html.casper .post-list-content li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 12px 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

html.casper .post-list-content li:last-of-type {
  padding-bottom: 5px;
  border: none;
}

html.casper .post-list-content h4 {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.35em;
  font-weight: 600;
}

html.casper .post-list-content h4 a {
  color: var(--darkgrey);
}

html.casper .post-list-content li a {
  display: block;
  opacity: 0.8;
}

html.casper .post-list-content li a:hover {
  opacity: 1;
}

html.casper .post-list-tags {
  display: flex;
}

html.casper .post-list-tag {
  margin: 0 0.2em 0.2em;
  display: flex;
  color: var(--blue);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

html.casper .post-list-tag:first-child {
  margin: 0 0.2em 0.2em 0;
}

html.casper .post-list-meta {
  margin-top: 2px;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 400;
}

html.casper .post-list-meta p {
  margin: 0;
}

html.casper .post-list-footer {
  position: relative;
  margin: 40px 0 5px;
}

html.casper .post-list-footer a {
  padding: 7px 12px 8px 14px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  font-size: 1.3rem;
  border-radius: 999px;
  transition: all 0.35s ease-in-out;
}

html.casper .post-list-footer a:hover {
  border-color: var(--blue);
  text-decoration: none;
}

/************************ Post Featured *************************/

html.casper .post-featured-section {
  margin: 0 24px;
}

html.casper .post-featured-container {
  display: flex;
  justify-content: center;
}

html.casper .post-featured-header {
  margin: 0.5em 25px 0.4em;
}

html.casper .post-featured-header h3 {
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-size: 2.2rem;
  line-height: 1.25em;
  font-weight: 600;
}

html.casper .post-featured-card {
  flex: 1 1 100%;
  padding: 25px;
  flex-direction: row;
  padding-bottom: 40px;
  min-height: 280px;
  border-top: 0;
  display: flex;
}

html.casper .post-featured-card:hover {
  border-bottom-color: color-mod(var(--lightgrey) l(+10%));
}

html.casper .post-featured-card:not(.no-image) .post-card-header {
  margin-top: 0;
}

html.casper .post-featured-card .post-card-image-link {
  position: relative;
  flex: 1 0 160px;
  margin-bottom: 0;
  min-height: 120px;
  max-height: 260px;
}

html.casper .post-featured-card .post-card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}

html.casper .post-featured-card .post-card-content {
  flex: 2 1 361px;
  justify-content: start;
}

html.casper .post-featured-card .post-card-title {
  margin-top: 0;
  font-size: 1.8rem;
}

html.casper .post-featured-card .post-card-content-link {
  padding: 0 0 0 30px;
}

html.casper .post-featured-card .post-card-meta {
  padding: 0 0 0 30px;
}

html.casper .post-featured-card .post-card-excerpt p {
  margin-bottom: 1.5em;
  font-size: 1.8rem;
  line-height: 1.5em;
}

@media (max-width: 1170px) {
  html.casper .post-featured-section {
    margin: 0;
  }
  html.casper .post-featured-container {
    display: block;
  }

  html.casper .post-featured-card .post-card-image-link {
    flex: 1 2 160px;
  }
}
@media (max-width: 701px) {
  html.casper .post-featured-section {
    margin: 0;
  }

  html.casper .post-featured-header {
    margin: 0.5em 0 0.4em;
  }

  html.casper .post-featured-card {
    padding: 25px 0;
  }
}
