@import 'global.css';

.tag-filter-container {
  display: block;
  margin: 8px auto 0;
  text-align: center;
}

.tag-filter {
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 2px 13px;
  font-size: 12px;
  margin: 4px 4px;
  text-transform: capitalize;
  background-color: var(--whitegrey);
  /* white-space: initial; */
}

body.dark .tag-filter {
  background-color: var(--midgrey);
}

.tag-filter:hover {
  background-color: var(--lightgrey);
}

.tag-filter-active {
  border-color: var(--blue);
  background-color: var(--lightgrey);
}

@media (max-width: 1024px) {
  .tag-filter:hover {
    background-color: var(--whitegrey);
  }
}
